.klocek-kuby {
  background-color: green;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #2b9de9;
  width: 500px;
  height: auto;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin: 15px;
  padding: 15px;
}

.container__heading {
  margin: 0;
}

.list {

}

.list__item {
  list-style-type: none;
  margin: 5px;
}

/* Łukasz section */
.lukasz {
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
}

.lukasz__mainheader {
  margin: 0;
  text-transform: uppercase;
}

.lukasz__list {
  color: red;
}